/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 20px;
	line-height: 130%;
	border: 5px solid red;
	max-width: 80ch;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

code {
	
}

h1, h2, h3 {

}

h1 {

}

h2 {

}

h3 {
	
}

header {
	
}

main {

}

p {

}

#intro {

}

#how-does-it-work, #influence, #joke {

}