/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 20px;
	line-height: 130%;
	border: 5px solid red;
	max-width: 80ch;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

code {
	border: 5px solid rgb(0, 255, 213);
	font-family: "Roboto Condensed", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

h1, h2, h3 {
	line-height: 145%;
	margin-bottom: 1em;
}

h1 {
	font-family: fantasy;
	font-weight: 400;
	padding: auto;
}

h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	padding: auto;
}

h3 {
	font-size: 20px;
	padding: auto;
}

header {
	font-size: 25px;
	line-height: 120%;
	font-family: Georgia, serif;
}

main {
	text-align: center;
}

p {
	text-indent: 4em;
	text-align: left;
}

#intro {
	font-size: 25px;
	line-height: 145%;
	font-family: Georgia, serif;
}

#how-does-it-work, #influence, #joke {
	margin-top: 2em;
}

p:first-of-type {
	text-indent: 0;
}